.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #eee;
}

.form-wrapper {
  padding: 15px 30px;
  margin: auto;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
